.App {
  text-align: center;
}

.tile {
  position: relative;
  width: 200px;
  height: 100px;
  /*background: #eee;*/
  color: #000;
  padding: 20px; 
  float: left;
  margin: 5px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.workers-content{
  width: 100%;
  float: left;
}
.workers-content-past{
  width: 20%;
  float: left;
}
.workTypes-content{
  width: 80%;
  float: left;
}
.workTypes-content-past{
  width: 10%;
  float: left;
}
.jobs-content{
  width: 70%;
  float: left;
}

.worker {
  background: #94db12;
}
.workType {
  background: #cbdb12;
}
.job {
  background: #db9712;
}

.worker-past.tile{
  width:100px;
  height:30px;
  background: #7e9e43;
}
.worker-past.tile.active{
  background: #94db12;
}


.workType-past.tile{
  width:100px;
  height:30px;
  background: #828a32;
}
.workType-past.tile.active{
  background: #cbdb12;
}


.jobs-past.tile{
  width:100px;
  height:30px;
  background: #db9712;
}
.jobs-past.tile.active{
  background: #cbdb12;
}
.Header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.panel {  
  width: 30%;
  float: left;

}


/* .hoveredTile{
  background-color: blue;
  width: 100px;
  height: 100px;
} */
.hoveredTile{
  background-color: grey;
  color:whitesmoke;
  cursor: pointer;
  /* width: 150px;
  height: 150px; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
