.App {
  text-align: center;
}

.Content
{
  display: flow-root;
    background: #e7e9eb;
}

.logo
{
    position: absolute;
    left: 4px;
}
.tile {
  position: relative;
  width: 200px;
  height: 100px;
  /*background: #eee;*/
  color: #000;
  padding: 20px; 
  float: left;
  margin: 5px;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.workers-content{
  width: 100%;
  float: left;
}
.workers-content-past{
  width: 19%;
  float: left;
  border-right: 3px dashed burlywood;
}
.workTypes-content{
  width: 80%;
  float: left;
}
.workTypes-content-past{
  width: 9%;
  float: left;
  border-right: 3px dashed burlywood;
}
.jobs-content{
  width: 70%;
  float: left;
}

.worker {
  background: #f2bb13;
  font-size: 24px;
}
.workType {
  background: #f2bb13;
}
.job {
  background: #f2bb13;
}

.loggedOut{
  margin: 5px;
  display: inline-block;
  background: repeating-linear-gradient( -45deg, #f2bb13 2px, #96740d 3px, #96740d 4px, #f2bb13 7px);
}
.worker-past.tile{
  width:100px;
  height:30px;
  background: #96740d;
}
.worker-past.tile.active{
  background: #f2bb13;
}


.workType-past.tile{
  width:100px;
  height:30px;
  background: #96740d;
}
.workType-past.tile.active{
  background: #f2bb13;
}


.jobs-past.tile{
  width:100px;
  height:30px;
  background: #f2bb13;
}
.jobs-past.tile.active{
  background: #f2bb13;
}
.Header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.panel {  
  width: 30%;
  float: left;

}
.header-title
{
  font-style: italic;
  margin: 10px;
}

.logBtn
{
    padding: 6px;
    background: #252e38;
    border: 0px;
    color: #fff;
    font-size: 15px;
    margin:5px;
}
.logBtn:hover{
  cursor: pointer;
}
/* .hoveredTile{
  background-color: blue;
  width: 100px;
  height: 100px;
} */
.hoveredTile{
  background-color: grey;
  color:whitesmoke;
  cursor: pointer;
  /* width: 150px;
  height: 150px; */
}

.loader-box-active.loader-box{
  display:block;
}
.loader-box
{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.loader {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(97, 130, 143);
  border-bottom: 16px solid rgb(97, 130, 143);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  
}
.progress{
  margin-top: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
