/* The Modal (background) */
.notification-active.notification{
    display:block;
}
.notification {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    right: 0;
    bottom: 0;
    width: 20%; /* Full width */
    height: 10%; /* Full height */
    
  }
  
  /* Modal Content/Box */
  .notification-content {
    background-color: #fefefe;
    position:absolute;
    right:4px;
    bottom: 4px;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
    border-radius:4px;
  }